body {
  margin: 0;
  font-family: Arial;
  background: #1b1b1b;
  color: white;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 80vh;
}

.player {
  border: 1px solid #333;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.name {
  background: transparent;
  border: none;
  color: white;
  text-align: center;
  font-size: 16px;
}

.life {
  font-size: 60px;
  margin: 10px 0;
}

.controls button {
  font-size: 20px;
  margin: 5px;
}

.extra {
  margin-top: 5px;
}

#voice {
  text-align: center;
  padding: 10px;
}

#mic {
  padding: 15px 25px;
  font-size: 18px;
}
